<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="POST" action="/add">
        <fieldset>
        <legend>student</legend>
        <div>
            <label for="firstname">First name: </label><input type="text" name="firstname" id="firstname" required>
        </div>
        <div>
            <label for="lastname">Last name: </label><input type="text" name="lastname" id="lastname" required>
        </div>
        <div>
            <label for="OIB">OIB: </label> <input type="text" name="OIB" id="OIB" required>
        </div>
        <div>
            <label for="JMBAG">JMBAG: </label><input type="text" name="JMBAG" id="JMBAG" required>
        </div>
       <div>
            <label for="pbrrod">Postanski broj rodenja: </label><input type="text" name="pbrstan" id="pbrstan" required>
       </div>
       <input type="submit" value="Submit">
        </fieldset>
   </form>
</body>
</html>